<% provide(:title, 'Accessibility') %>

<div class="pageheader">
	<h1 class="page-header">Accessibility</h1>
</div>
<div class="featured"> 
</div>
<div class="main-container container">
  <header role="banner" id="page-header">
 
  </header> <!-- /#page-header -->

  <div class="row">
    <section class="col-sm-12">
    	<a id="main-content"></a>          
        <div class="region region-content">
        	<section id="block-system-main" class="block block-system clearfix">
        		<div class="field field-name-body field-type-text-with-summary field-label-hidden">
        			<div class="field-items">
        				<div class="field-item even" property="content:encoded">
        					<p>The New York State Office of Alcoholism and Substance Abuse Services (OASAS) attempts to make our web site accessible to all visitors. If you are unable to access any information or utilize any electronic service on our site, please call 518-457-8299 or send us a description of your accessibility issue. Your issue will be referred to the appropriate staff and, where feasible, we will provide you with an alternate means of access to the requested material.</p>
	        			</div>
	        		</div>
	        	</div>
			</section> <!-- /.block -->
  		</div>
    </section>
  </div>
</div>
<section>
</section>
