<% provide(:title, 'Contact Us') %>

<div class="pageheader">
	<h1 class="page-header">Contact</h1>
</div>
<div class="featured"></div>

<div class="main-container container">
	<header role="banner" id="page-header"> </header> <!-- /#page-header -->
	
	<div class="row">
		<section class="col-sm-12">
			<a id="main-content"></a>
			<div class="region region-content">
				<h2>New York State Office of Alcoholism and Substance Abuse Services </h2>
				<section id="block-block-1" class="block block-block clearfix">
					<div class="panel panel-default col-md-4">
						<div class="panel-heading">
							<h1 class="panel-title">Albany Office</h1>
						</div>
						<div class="panel-body">1450 Western Avenue<br />Albany, NY 12203-3526</div>
					</div>
					<div class="panel panel-default col-md-4">
						<div class="panel-heading">
							<h1 class="panel-title">New York City Office</h1>
						</div>
						<div class="panel-body">501 7th Avenue<br />New York, NY 10018-5903</div>
					</div>
					<div class="panel panel-default col-md-4">
						<div class="panel-heading">
							<h1 class="panel-title">General Information</h1>
						</div>
						<div class="panel-body">Phone: 518-473-3460<br />E-Mail: communications@oasas.ny.gov </div>
					</div>

				</section> <!-- /.block -->
				
				<section id="block-system-main" class="block block-system clearfix">
					<div class="col-xs-6">
						
					</div>
					<div class="col-xs-6">
						
					</div>
				</section> <!-- /.block -->
			</div>
		</section>
	</div>
</div>
