<% provide(:title, 'Disclaimer') %>

<div class="pageheader">
	<h1 class="page-header">Disclaimer</h1>
</div>
<div class="featured"> 
</div>
<div class="main-container container">
  <header role="banner" id="page-header">
  </header> <!-- /#page-header -->

  <div class="row">
    <section class="col-sm-12">
       <a id="main-content"></a>
       <div class="region region-content">
       	 <section id="block-system-main" class="block block-system clearfix">
        
			<div class="field field-name-body field-type-text-with-summary field-label-hidden">
				<div class="field-items">
					<div class="field-item even" property="content:encoded">
						<p>The New York State Office of Alcoholism and Substance Abuse Services (OASAS) cannot provide individual advice or counseling, whether medical, legal, or otherwise. If you are looking for specific advice or counseling, you should contact a licensed practitioner or professional, a social services agency representative, or an organization in your local community.</p>
						<p>OASAS makes every effort to post accurate and reliable information, however, it does not guarantee or warrant that the information on this web site is complete accurate or up-to-date. This web site is intended solely for the purpose of electronically providing information and convenient access to resources. All information is subject to change at any time without notice.</p>
						<p>OASAS links to web sites maintained by other entities. Reasonable precautions are taken to link only to web sites that are appropriate, accurate and maintained by reputable organizations. However, inclusion of these links does not constitute or imply OASAS endorsement of, affiliation with or responsibility for those web sites and OASAS is not responsible for the information or opinions expressed in those sites.</p>
						<p>Unless otherwise noted on an individual document, file, webpage or other item, OASAS grants users permission to reproduce materials published by OASAS on this website so long as OASAS is noted as the source and the date the webpage was accessed along with the date of publication of the material cited is noted. All copyright and other proprietary notices must be retained in the same form and manner as on the original and the contents may not be modified in any way. The user agrees to abide by all additional restrictions provided on this site as it may be updated from time to time.</p>
					</div>
				</div>
			</div>
		  </section> <!-- /.block -->
  	   </div>
    </section>  
  </div>
</div>
<section>
</section>
